/* Fonts */

/* Lato */
@font-face {
  font-family: Lato;
  src: url('fonts/lato-regular.woff2') format('woff2'),
    url('fonts/lato-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('fonts/lato-bold.woff2') format('woff2'),
    url('fonts/lato-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url('fonts/lato-italic.woff2') format('woff2'),
    url('fonts/lato-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Montserrat */
@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat-regular.woff2') format('woff2'),
    url('fonts/montserrat-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat-bold.woff2') format('woff2'),
    url('fonts/montserrat-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/montserrat-italic.woff2') format('woff2'),
    url('fonts/montserrat-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Karla */
@font-face {
  font-family: Karla;
  src: url('fonts/karla-regular.woff2') format('woff2'),
    url('fonts/karla-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Karla;
  src: url('fonts/karla-bold.woff2') format('woff2'),
    url('fonts/karla-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Karla;
  src: url('fonts/karla-italic.woff2') format('woff2'),
    url('fonts/karla-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Source Sans Pro */
@font-face {
  font-family: Source Sans Pro;
  src: url('fonts/source-sans-pro-regular.woff2') format('woff2'),
    url('fonts/source-sans-pro-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url('fonts/source-sans-pro-bold.woff2') format('woff2'),
    url('fonts/source-sans-pro-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url('fonts/source-sans-pro-italic.woff2') format('woff2'),
    url('fonts/source-sans-pro-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Titillium Web */
@font-face {
  font-family: Titillium Web;
  src: url('fonts/titillium-web-regular.woff2') format('woff2'),
    url('fonts/titillium-web-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Titillium Web;
  src: url('fonts/titillium-web-bold.woff2') format('woff2'),
    url('fonts/titillium-web-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Titillium Web;
  src: url('fonts/titillium-web-italic.woff2') format('woff2'),
    url('fonts/titillium-web-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Arvo */
@font-face {
  font-family: Arvo;
  src: url('fonts/arvo-regular.woff2') format('woff2'),
    url('fonts/arvo-regular.woff') format('woof');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arvo;
  src: url('fonts/arvo-bold.woff2') format('woff2'),
    url('fonts/arvo-bold.woff') format('woof');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Arvo;
  src: url('fonts/arvo-italic.woff2') format('woff2'),
    url('fonts/arvo-italic.woff') format('woof');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  word-break: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Styles */
:root {
  --font-color: #1b262c;
  --dark-blue-color: #0f4c75;
  --blue-color: #3282b8;
  --light-blue-color: #bbe1fa;
  --light-gray-color: #f2f5fa;
}

html {
  font-family: 'Lato', sans-serif;
  color: var(--font-color);
  background-color: white;
  scroll-behavior: smooth;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
